.game{
    border: 3px solid black;
    width: 900px;
    margin: 250px auto;
    position: relative;
}

/* body{
    background: rgb(242,142,2);
    background: linear-gradient(90deg, rgba(242,142,2,1) 0%, rgba(242,223,2,1) 50%, rgba(255,153,0,1) 100%);
} */

.dino{
    width: 100px;
    height: 150px;
    background-image: url('./img/dino\ img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 180px;
    left: 250px;
    background-color: transparent;
}

.cactus{
    width: 30px;
    height: 120px;
    background-image: url('./img/kaktus.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 190px;
    right: 200px;
}

.cactus-stop{
    animation:  animation 4s infinite linear;;
}

@keyframes animation {
    0%{
        left: 1200px;
    }
    100%{
        left: 80px;
    }
}

.boz{
    animation: boz .7s linear;
}

@keyframes boz {
    0%{
        top: 180px;
    }
    30%{
        top: 150px;
    }
    50%{
        top: 80px;
    }
    80%{
        top: 150px;
    }
    100%{
        top: 180px;
    }
}